<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Update Password - SB Admin</title>
  <link th:href="@{/css/styles.css}" href="../css/styles.css" rel="stylesheet">
  <script th:src="@{/js/scripts.js}"></script>
  <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
  <div class="card card-register mx-auto mt-5">
    <div class="card-header">Reset Your Password</div>
    <div class="card-body">
      <form th:action="@{/member/updatePassword}" method="post">
        <input type="hidden" name="email" th:value="${email}">
        <input type="hidden" name="token" th:value="${resetToken}">
        <div class="form-group">
          <div class="form-label-group">
            <input type="password" id="inputPassword" name="password" class="form-control" placeholder="New Password" required="required" autofocus="autofocus">
            <label for="inputPassword">New Password</label>
          </div>
        </div>
        <div class="form-group">
          <div class="form-label-group">
            <input type="password" id="inputConfirmPassword" name="checkPassword" class="form-control" placeholder="Confirm Password" required="required">
            <label for="inputConfirmPassword">Confirm Password</label>
          </div>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Reset Password</button>
      </form>
    </div>
  </div>
</div>
</body>
</html>
